@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #262626;
  --gradient-color-start1: #ffffff; /* 첫 번째 그라데이션 시작 색상 */
  --gradient-color-end1: #a4daaf; /* 첫 번째 그라데이션 끝 색상 */
  --gradient-color-start2: #20f64f; /* 두 번째 그라데이션 시작 색상 */
  --gradient-color-end2: #ff4b4b; /* 두 번째 그라데이션 끝 색상 */
}

html {
  background-color: #ffffff; /* 여백을 흰색으로 유지 */
  display: flex;
  justify-content: center;
}

body {
  @apply font-nanumRegular antialiased;
  max-width: 390px;
  color: var(--text-color);
  width: 100%;

  /* 두 가지 그라데이션 적용 */
  background-image:
    linear-gradient(to bottom, var(--gradient-color-start1), var(--gradient-color-end1) 70%),
    /* 첫 번째 그라데이션 */
      linear-gradient(to bottom right, var(--gradient-color-start2) 10%, var(--gradient-color-end2) 100%); /* 두 번째 그라데이션 */
  background-size: cover;
  background-blend-mode: screen;
}

.background1 {
  background: linear-gradient(-45deg, #1d2c41, #B7C9D9, #4FA3F0, #22131a);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: backgroundChange 20s ease-in-out infinite;
}

@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}