@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ebf4e3;
  --text-color: #262626;
}

html {
  background-color: #ffffff; /* 여백을 흰색으로 유지 */
}

body {
  @apply font-nanumRegular antialiased;
  color: var(--text-color);
}
