.background1 {
  background: linear-gradient(-45deg, #061c3b, #b7c9d9, #4fa3f0, #22131a);
  background-repeat: no-repeat;
  background-size: 650% 350%;
  animation: backgroundChange 12s ease-in-out infinite;
}

.background2 {
  background: linear-gradient(-45deg, #fd7373, #8ad1b6, #58da7f, #fff23f, #4fa3f0);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: backgroundChange 20s ease-in-out infinite;
}

.background3 {
  background: linear-gradient(-45deg, #1a237e, #3a6ea5, #2e5077, #0a2f4e, #284b63);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: backgroundChange 20s ease-in-out infinite;
}

.background4 {
  background: linear-gradient(-45deg, #c471ed, #f64f59, #d2b6e5, #fcc8d1, #e98b9e);
  background-repeat: no-repeat;
  background-size: 500% 400%;
  animation: backgroundChange 10s ease-in-out infinite;
}
.background5 {
  background: linear-gradient(-45deg, #d6f9d0, #5cb387, #95d693, #6ac089, #6cca99);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: backgroundChange 10s ease-in-out infinite;
}

@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
