<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ddasomi_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:requestLegacyExternalStorage="true" >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SelectActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <activity
            android:name=".activity.BpmMeasureActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <activity
            android:name=".activity.BpmReadyActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <activity
            android:name=".activity.BreathActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <activity
            android:name=".activity.EndActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <activity
            android:name=".activity.RequestActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <activity
            android:name=".activity.EmergencyActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting" />

        <service
            android:name=".service.ForegroundService"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />-->
<!--            </intent-filter>-->
        </service>

        <!-- SleepReceiver 등록 -->
        <receiver
            android:name=".receiver.SleepReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.location.SLEEP_SEGMENT_EVENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
